<!DOCTYPE html>
<html ng-app="myRestaurantApp">
  <head>
    <meta charset="utf-8">
    <title>My Restaurant Database</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
  </head>
  <body>
    <header>

    </header>
    <main>
      <h1>My Restaurant Database {{5+5}}</h1>
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="./controllers/controller.js"></script>
  </body>
</html>
